.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.box{
    background-color: aquamarine;
    width: 300px;
    height: 300px;
    margin-bottom: 2px;
    display:inline-block;
}
