@import "_variables";

body {
  // background-color: $bg;
}
h2 {
  color: $bg;
}
.box {
  margin-top: 20px;
  border: 1px solid black;
  &:hover {
    background-color: rgb(126, 236, 126);
  }
  h2 {
    color: blue;
    &:hover {
      color: red;
    }
  }
  button {
    color: red;
  }
}
